/* Backend editor styles */


@import url("../frameworks/bootstrap/css/bootstrap.min.css");

body.mce-content-body {
	padding: 20px !important;
}
body.mce-content-body * {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	-o-user-select: auto;
	user-select: auto;
	cursor: auto;
}
body.mce-content-body div {
	border: 1px dashed #ccc;
	min-height: 24px;
}

.acf-gallery-side-data .compat-field-face_detection {
	display: none !important;
}

#post-48 {
	display: none;
}