/*==================================================
	General Settings
==================================================*/


@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300);


/* Variables */
$background-color: #ddd;
$page-background: #eee;

$header-font: "Roboto Condensed", Arial, Sans-serif;
$body-font: "Roboto Condensed", Helvetica, Arial, Sans-serif;
$font-size: 14px;

$text: #999;
$link: #3cc1f0;
$hover: #3cc1f0;

$navbar-color: #fff;
$navbar-height: 90px;
$navbar-height-small: 70px;
$navbar-margin: 0;
$navbar-shade: #fff;
$navbar-text: #3cc1f0;
$navbar-text-active: #3cc1f0;
$navbar-font-size: 28px;
$navbar-font-weight: 500;
$navbar-font: "Roboto Condensed", Helvetica, Arial, Sans-serif;
$navbar-caps: lowercase;
$navbar-logo-margin-large: 0;
$navbar-logo-margin-small: 0;

$footer-color: #3cc1f0;
$footer-text: #fff;
$footer-margin: 0;

$script: "Architects Daughter", Helvetica, Arial, Sans-serif;


/* Includes */
@import 'inc/header';
@import 'inc/helpers';
@import 'inc/layout';
@import 'inc/sidebar';
@import 'inc/list';
@import 'inc/grid';
@import 'inc/slideshow';
@import 'inc/kontakt';
@import 'inc/puffar';
@import 'inc/galleri-list';
@import 'inc/comments';
@import 'inc/footer';



