/*==================================================
	General Settings
==================================================*/
@import url("http://fonts.googleapis.com/css?family=Oswald");
@import url("http://fonts.googleapis.com/css?family=Roboto");
/* Variables */
/* Includes */
/*==================================================
	Header CSS
==================================================*/
/* Menu background */
.navbar-default {
  background: #6e94b4;
  border-color: #688caa; }

/* Menu text */
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color: #cccccc;
  font-weight: normal;
  font-size: 18px;
  font-family: "Roboto", Helvetica, Arial, Sans-serif; }

/* Menu hover */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white; }

/* Menu active */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li.current_page_parent > a,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  color: white;
  background-color: #688caa; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: white; }

.navbar-brand img {
  height: 100%;
  width: auto; }

.dropdown-menu > li > a .glyphicon {
  top: 2px; }

.navbar-brand img {
  height: 100%;
  width: auto; }

/* Submenu active */
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  background: #688caa;
  color: white; }

/* Submenu textcolor */
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #cccccc; }

/* Submenu textcolor hover  */
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: white; }

.navbar-brand {
  padding: 10px 15px; }

.navbar-toggle {
  border-radius: 0; }

.navbar-collapse {
  border: 0px; }

.navbar-default .navbar-nav > li.current_page_parent > a, .navbar-default .navbar-nav > li.current-menu-ancestor > a {
  color: white; }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .current_page_parent, .current-menu-ancestor {
    background: #688caa; }

  .dropdown:hover .dropdown-menu {
    display: block; }

  /* Menu height */
  .navbar-default .navbar-nav > li > a {
    line-height: 50px; }

  /* Submenu active */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    background: #eee;
    color: #53484d; }

  /* Submenu textcolor */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #53484d; }

  /* Submenu textcolor hover  */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #53484d; }

  /* Fix for upper meny */
  .navSmall.navbar-default {
    box-shadow: 0 0 8px #333;
    transition: all 0.4s ease; }

  .navSmall.navbar-default .navbar-nav > li > a {
    line-height: 30px;
    transition: all 0.4s ease; }

  .navBig.navbar-default .navbar-nav > li > a {
    line-height: 50px;
    transition: all 0.4s ease; }

  .navBig.nav-margin, .admin-bar .navBig.nav-margin {
    height: 80px; }

  .navbar-fixed-top.navBig .navbar-header {
    height: 80px;
    transition: all 0.4s ease; }

  .navbar-fixed-top.navSmall .navbar-header {
    height: 60px;
    transition: all 0.4s ease; }

  .navbar-brand {
    height: 100%; }

  .navBig .navbar-brand {
    padding: 20px 15px;
    transition: all 0.4s ease; }

  .navSmall .navbar-brand {
    padding: 10px 15px;
    transition: all 0.4s ease; }

  .navbar-fixed-top.navBig .navbar-brand img {
    height: 40px;
    transition: all 0.4s ease; }

  .navbar-fixed-top.navSmall .navbar-brand img {
    height: 40px;
    transition: all 0.4s ease; } }
/* Large Devices, Wide Screens */
/*==================================================
	Helpers CSS
==================================================*/
/* Hide adminbar on mobile devices */
#wpadminbar {
  display: none; }

/* Wordpress image alignment in content */
img.alignleft {
  float: left;
  margin-right: 15px; }

img.alignright {
  float: right;
  margin-left: 15px; }

img.aligncenter {
  display: block;
  margin: 15px auto; }

/* Responsive image and video (For responsive YouTube - wrap embed code in div.video-container) */
img {
  max-width: 100%;
  height: auto; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Tags and paging styling */
.tag-links a {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #999; }

.tag-links a:hover {
  background-color: #666;
  text-decoration: none; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.twocols {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  margin: 0 0 10px; }

.puffar .img-circle {
  max-width: 80%;
  height: auto; }

.container > section {
  margin-bottom: 30px;
  margin-top: 30px; }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .page-numbers.current {
    background: #e7e7e7; } }
/* Wordpress Adminbar Breakpoint */
@media only screen and (min-width: 783px) {
  .admin-bar nav {
    top: 32px; }

  #wpadminbar {
    display: block; } }
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==================================================
	Layout CSS
==================================================*/
html {
  position: relative; }

.admin-bar .nav-margin, .footer-margin {
  height: 4px; }

.nav-margin {
  height: 50px;
  transition: all 0.4s ease; }

.container {
  background: white;
  padding: 30px; }

nav .container, footer .container {
  background: none;
  padding: 0 15px; }

img.page-wide {
  margin-bottom: 20px; }

body {
  background: #dddddd;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 14px; }

h1, h2, h3, h4 {
  font-family: "Oswald", Arial, Sans-serif; }

a {
  color: #53484d; }

a:hover {
  color: #4a4246; }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .container {
    width: auto; } }
/* WP Admin bar breakpoint */
@media only screen and (min-width: 783px) {
  .admin-bar .nav-margin {
    height: 50px;
    transition: all 0.4s ease; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .nav-margin {
    height: 80px;
    transition: all 0.4s ease; }

  .footer-margin {
    height: 0; } }
/* Large Devices, Wide Screens */
/*==================================================
	Sidebar CSS
==================================================*/
#sidebar ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

#sidebar {
  margin: 30px 0; }

.widget {
  margin-bottom: 30px; }

/* Calendar widget styling */
#wp-calendar {
  width: 100%;
  font-size: 11px; }

#wp-calendar thead th {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-top: none;
  font-size: 11px; }

#wp-calendar tbody td {
  text-align: center;
  border: 1px solid #ddd;
  line-height: 2.5em;
  transition: background .15s ease;
  -webkit-transition: background .15s ease;
  -o-transition: background .15s ease;
  -moz-transition: background .15s ease; }

#wp-calendar tbody td:hover {
  background: #f1f1f1;
  color: #333; }

#wp-calendar tbody td a {
  display: block;
  text-decoration: none;
  background: #f1f1f1;
  color: #333; }

#wp-calendar tbody td:hover a {
  background: #4d4d4d;
  color: #fff; }

#wp-calendar tfoot {
  background: #eee;
  border: 1px solid #ddd; }

#wp-calendar tfoot td {
  padding-top: 1px;
  padding: 4px; }

#wp-calendar caption {
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  padding: 12px;
  outline: 0 none !important;
  background: #3078ac;
  color: #fff; }

#wp-calendar tbody a {
  display: block;
  text-decoration: underline; }

#wp-calendar th {
  text-align: center;
  border: 1px solid transparent;
  border-top: none;
  padding: 7px 0;
  color: #a7a7a7; }

#footer #wp-calendar thead th {
  background: #222; }

#footer #wp-calendar tbody td {
  border-color: #222; }

#searchform .btn-primary, .btn-default {
  background: #53484d;
  border-color: #4a4246;
  color: #fff; }

#searchform .btn-primary:hover, .btn-default:hover {
  background: #4a4246;
  color: #fff; }

.form-control:focus {
  border-color: #53484d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==================================================
	List CSS
==================================================*/
.list-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee; }

.list-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==================================================
	Grid CSS
==================================================*/
.grid-copy {
  height: 100px;
  overflow: hidden;
  margin-bottom: 20px; }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==================================================
	Slideshow CSS
==================================================*/
.superslide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.superslide:after {
  content: "";
  position: relative;
  padding-bottom: 40%;
  display: block; }

.superslide > .wrapper {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  display: none; }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .superslide > .wrapper {
    display: block; } }
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==================================================
	Kontakt CSS
==================================================*/
/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==================================================
	Puffar CSS
==================================================*/
/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==================================================
	Galleri CSS
==================================================*/
.galleri-item h4 {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
  padding: 30px 0 0 0;
  margin: 0;
  text-align: center;
  opacity: 0;
  line-height: 40px; }

.galleri-item h4:hover {
  background: rgba(255, 255, 255, 0.7);
  opacity: 1; }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==================================================
	Comments CSS
==================================================*/
textarea#comment {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  min-height: 200px; }

#commentform input {
  width: 100%; }

#commentform #submit {
  display: inline-block;
  width: auto;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd; }

#submit:hover {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e; }

ol.commentlist, ol.commentlist ul {
  list-style: none;
  margin-left: 0;
  padding: 10px; }

.comment {
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background: #fff; }

.comment-meta {
  background: #eee;
  position: relative;
  border-bottom: 1px solid #ccc; }

.comment-metadata {
  display: none; }

.comment-content, .reply {
  padding: 10px; }

.fn, .says {
  vertical-align: middle; }

#commentform #submit {
  background-color: #53484d;
  border-color: #4a4246; }

#commentform #submit:hover {
  background-color: #4a4246; }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .comment-metadata {
    display: block;
    position: absolute;
    right: 10px;
    top: 6px; } }
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*==================================================
	Footer CSS
==================================================*/
footer .container {
  padding: 20px;
  color: #999;
  text-shadow: 0 1px #fff;
  text-align: center; }

/* Sticky footer  */
footer.sticky {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  background: #999999; }

footer.sticky {
  color: white; }

footer .container {
  color: white;
  text-shadow: none; }

footer .container a {
  color: white; }

footer .container a:hover {
  color: white; }

/*==================================================
	Media Queries
==================================================*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=likabra.css.map */
