/*==================================================
	General Settings
==================================================*/


@import url('http://fonts.googleapis.com/css?family=Oswald');



/* Variables */
$background-color: #ddd;
$page-background: #fff;

$header-font: "Oswald", Arial, Sans-serif;
$body-font: "Helvetica Neue", Helvetica, Arial, Sans-serif;
$font-size: 14px;

$text: #999;
$link: #53484d;
$hover: #4a4246;

$navbar-color: #6e94b4;
$navbar-height: 80px;
$navbar-height-small: 60px;
$navbar-margin: 0;
$navbar-shade: #688caa;
$navbar-text: #ccc;
$navbar-text-active: #fff;
$navbar-font-size: 18px;
$navbar-font-weight: normal;
$navbar-font: "Oswald", Arial, Sans-serif;
$navbar-logo-margin-large: 20px;
$navbar-logo-margin-small: 10px;

$footer-color: #999;
$footer-text: #fff;
$footer-margin: 0;


/* Includes */
@import 'inc/header';
@import 'inc/helpers';
@import 'inc/layout';
@import 'inc/sidebar';
@import 'inc/list';
@import 'inc/grid';
@import 'inc/slideshow';
@import 'inc/kontakt';
@import 'inc/puffar';
@import 'inc/galleri-list';
@import 'inc/comments';
@import 'inc/footer';



