/*==================================================
	Footer CSS
==================================================*/

footer .container {
	padding:20px;
	color:#999;
	text-shadow:0 1px #fff;
	text-align:center;
}

/* Sticky footer  */
footer.sticky {
// 	position:absolute;
	width:100%;
	height:auto;
	bottom:0;
	background: $footer-color;
}

footer.sticky {
	color: $footer-text;
}

footer .container {
	color: $footer-text;
	text-shadow: none;
}

footer .container a {
	color: $footer-text;
}

footer .container a:hover {
	color: $footer-text;
}




/*==================================================
	Media Queries
==================================================*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
