/*==================================================
	Header CSS
==================================================*/

/* Menu background */
.navbar-default {
	background: $navbar-color;
	border-color: $navbar-shade;
}

/* Menu text */
.navbar-default .navbar-nav>li>a, 
.navbar-default .navbar-brand {
	color: $navbar-text;
	font-weight: $navbar-font-weight;
	font-size: $navbar-font-size;
	font-family: $navbar-font;
	text-transform: $navbar-caps;
}

/* Menu hover */
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus {
	color: $navbar-text-active;
}	

/* Menu active */
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>li.current_page_parent>a, 
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	color: $navbar-text-active;
	background-color: $navbar-shade;
}	

.navbar-default .navbar-toggle .icon-bar {
	background-color: $navbar-text-active;
}

.navbar-default .navbar-toggle {
	border-color: $navbar-text;
}

.navbar-brand img {
	height: 100%;
	width: auto;
}

.dropdown-menu>li>a .glyphicon {
	top: 2px;
}

.navbar-brand img {
	height: 100%;
	width: auto;
}

/* Submenu active */
.navbar-default .navbar-nav .open .dropdown-menu>.active>a, 
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
	background: $navbar-shade;
	color: $navbar-text-active;
}
/* Submenu textcolor */
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: $navbar-text;
}
/* Submenu textcolor hover  */
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: $navbar-text-active;
}

.navbar-brand {
	padding: 10px 15px;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-collapse {
	border: 0px;
}


.navbar-default .navbar-nav>li.current_page_parent>a, 	.navbar-default .navbar-nav>li.current-menu-ancestor>a {
	color: $navbar-text-active;
}





/*==================================================
	Media Queries
==================================================*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
	 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.current_page_parent, .current-menu-ancestor {
		background: $navbar-shade;
	}
   .dropdown:hover .dropdown-menu {
        display: block;
    }

	/* Menu height */
	.navbar-default .navbar-nav>li>a {
		line-height: $navbar-height - 30px;
	}
	
	
	/* Submenu active */
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a, 
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, 
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,
	.dropdown-menu>.active>a, 
	.dropdown-menu>.active>a:hover, 
	.dropdown-menu>.active>a:focus {		
		background: #eee;
		color: $link;
	}
	
	/* Submenu textcolor */
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: $link;
	}
	
	/* Submenu textcolor hover  */
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
		color: $link;
	}

	/* Fix for upper meny */
	.navSmall.navbar-default {
		box-shadow: 0 0 8px #333;
		transition: all 0.4s ease;
	}
	
	
	.navSmall.navbar-default .navbar-nav>li>a {
		line-height: $navbar-height-small - 30px;
		transition: all 0.4s ease;
	}

	.navBig.navbar-default .navbar-nav>li>a {
		line-height: $navbar-height - 30px;
		transition: all 0.4s ease;
	}
	
	
	.navBig.nav-margin, .admin-bar .navBig.nav-margin {
		height: $navbar-height + $navbar-margin;
	}

	.navbar-fixed-top.navBig .navbar-header {
		height: $navbar-height;
		transition: all 0.4s ease;
	}
	.navbar-fixed-top.navSmall .navbar-header {
		height: $navbar-height-small;
		transition: all 0.4s ease;
	}

	.navbar-brand {
		height: 100%;
	}
	.navBig .navbar-brand {
		padding: $navbar-logo-margin-large 15px;
		transition: all 0.4s ease;
	}

	.navSmall .navbar-brand {
		padding: $navbar-logo-margin-small 15px;
		transition: all 0.4s ease;
	}

	.navbar-fixed-top.navBig .navbar-brand img {
		height: $navbar-height - $navbar-logo-margin-large - $navbar-logo-margin-large;
		transition: all 0.4s ease;
	}	

	.navbar-fixed-top.navSmall .navbar-brand img {
		height: $navbar-height-small - $navbar-logo-margin-small - $navbar-logo-margin-small;
		transition: all 0.4s ease;
	}	


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
