/*==================================================
	Helpers CSS
==================================================*/

/* Hide adminbar on mobile devices */
#wpadminbar {
	display:none;
}

/* Wordpress image alignment in content */
img.alignleft {
	float:left;
	margin-right:15px;
}

img.alignright {
	float:right;
	margin-left:15px;
}

img.aligncenter {
	display: block;
	margin:15px auto;
}

/* Responsive image and video (For responsive YouTube - wrap embed code in div.video-container) */
img {
	max-width:100%;
	height:auto;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe,.video-container object,.video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


/* Tags and paging styling */
.tag-links a {
	display:inline;
	padding:.2em .6em .3em;
	font-size:75%;
	font-weight:700;
	line-height:1;
	color:#fff;
	text-align:center;
	white-space:nowrap;
	vertical-align:baseline;
	border-radius:.25em;
	background-color:#999;
}

.tag-links a:hover {
	background-color:#666;
	text-decoration:none;
}


.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.puffar .img-circle {
	max-width: 80%;
	height: auto;
}

.container>section {
	margin-bottom: 30px;
	margin-top: 30px;
}

.slick-dots li button:before {
	font-size: 16px;
}

.intro {
	font-weight: bold;
}
.citat {
	font-size: 24px;
	font-style: italic;
	font-family: $script;
}
.byline {
	text-align: right;
}
.bigtitle {
	position: absolute;
	bottom: 5%;
	left: 5%;
	padding: 10px 30px;
	background: rgba(255,255,255,0.7);
}
.bigtitle h1 span {
	font-size: 18px;
}
.slidertitle {
	display: none;
	position: absolute;
	width: 100%;
	z-index: 9;
	bottom: 0;
}
.slidertitle .container h1 {
	font-size: 35px;
	font-weight: bold;
	color: #fff;	
}
.slidertitle .container h1 span {
	background: rgba(0,0,0,0.8);
	padding: 0 30px;
}
.anchor {
	display: block;
	position: absolute;
	top: -100px;
	visibility: hidden;
}
.galleri-item {
	margin-bottom: 30px;
	width: 100%;
	height: auto;
}

.missingimage {
	background: #eee;
	height: 0;
	padding-top: 66.7%;
	position: relative;
}
.missingimage .date {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	text-transform: uppercase;
}
.missingimage .date h3 {
	margin: 0;
	padding: 0;
	font-size: 44px;
}

/* Google maps control fix */
#map-canvas img {
  max-width: none; }

#map-canvas label {
  width: auto;
  display: inline; 
}


.home #slideshow-top .slick-dots {
	bottom: 0;
}
.home #slideshow-referenser .slick-dots {
}

.home #slideshow-top .sliderdesc {
	display: none;
}

.sliderdesc {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 20px 150px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	z-index: 99999;
	text-align: center;
}
.sliderdesc-many {
	margin-top: 20px;
}

.slick-dots li.slick-active button::before {
	color: $link;
	opacity: 1
}
.slick-dots li button::before {
	color: #333;
	opacity: 1;
}

h3 {
	font-size: 70px;
	font-weight: 700;
}

.bla-namn {
	text-transform: uppercase;
	color: $link;
}
.bla-titel {
	color: $link;
}

.bla-mail a {
	color: #333;
}

/*==================================================
	Media Queries
==================================================*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.page-numbers.current {
		background:#e7e7e7;
	}
	.slidertitle {
	display: block;
	}
	.twocols {
		-webkit-column-count: 2; 
	    -moz-column-count: 2;
	    column-count: 2;
	    -webkit-column-gap: 30px;
	    -moz-column-gap: 30px; 
	    column-gap: 30px;
	    margin: 0 0 10px;
	}

}

/* Wordpress Adminbar Breakpoint */
@media only screen and (min-width : 783px) {
	.admin-bar nav {
		top:32px;
	}
	
	#wpadminbar {
		display:block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.slidertitle .container h1 {
		font-size: 85px;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}







