/*==================================================
	Layout CSS
==================================================*/

html {
	position:relative;
}


.admin-bar .nav-margin, .footer-margin {
	height: 4px;
}
.nav-margin {
	height: 50px;
	transition: all 0.4s ease;
}


.container {
	background: $page-background;
	padding:30px;
}

nav .container, footer .container {
	background: none;
	padding: 0 15px;;
}

img.page-wide {
	margin-bottom:20px;
}





body {
	background: $background-color;
	font-family: $body-font;
	font-size: $font-size;
}


h1, h2, h3, h4 {
	font-family: $header-font;
}

a {
	color: $link;
}

a:hover {
	color: $hover;
}


.modaltrigger:focus {
	outline-style: none;
	outline-width: 0;
	outline-color: transparent;
}

.well h3 {
	font-size: 24px;
}

/*==================================================
	Media Queries
==================================================*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.container {
		width: auto;
	}
 
}

/* WP Admin bar breakpoint */ 
@media only screen and (min-width : 783px) {
	.admin-bar .nav-margin {
		height: 50px + $navbar-margin;
		transition: all 0.4s ease;
	}
	
}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.nav-margin {
		height: $navbar-height + $navbar-margin;
		transition: all 0.4s ease;
	}
	
	.footer-margin {
		height: $footer-margin;
	}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
