/*==================================================
	Comments CSS
==================================================*/


textarea#comment {
	display:block;
	width:100%;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	color:#555;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	min-height:200px;
}
#commentform input {
	width: 100%;
}
#commentform #submit {
	display:inline-block;
	width: auto;
	margin-bottom:0;
	font-weight:400;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	background-image:none;
	border:1px solid transparent;
	white-space:nowrap;
	padding:6px 12px;
	font-size:14px;
	line-height:1.42857143;
	border-radius:4px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	color:#fff;
	background-color:#428bca;
	border-color:#357ebd;
}

#submit:hover {
	color:#fff;
	background-color:#3276b1;
	border-color:#285e8e;
}

ol.commentlist,ol.commentlist ul {
	list-style:none;
	margin-left:0;
	padding:10px;
}

.comment {
	margin-bottom:30px;
	border:1px solid #ccc;
	background:#fff;
}

.comment-meta {
	background:#eee;
	position:relative;
	border-bottom:1px solid #ccc;
}

.comment-metadata {
	display:none;
}

.comment-content,.reply {
	padding:10px;
}

.fn,.says {
	vertical-align:middle;
}

#commentform #submit {
	background-color: $link;
	border-color: $hover;
}
#commentform #submit:hover {
	background-color: $hover;
}






/*==================================================
	Media Queries
==================================================*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.comment-metadata {
		display:block;
		position:absolute;
		right:10px;
		top:6px;
	}
 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
