/*==================================================
	Galleri CSS
==================================================*/

.galleri-item h4 {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.0);
	z-index: 10;
	padding: 30px 0 0 0;
	margin:0;
	text-align: center;
	opacity: 0;
	line-height: 40px;
}
.galleri-item h4:hover {
	background: rgba(255, 255, 255, 0.7);
	opacity: 1;
}










/*==================================================
	Media Queries
==================================================*/



/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
