/*==================================================
	Helpers CSS
==================================================*/

/* Hide adminbar on mobile devices */
#wpadminbar {
	display:none;
}

/* Wordpress image alignment in content */
img.alignleft {
	float:left;
	margin-right:15px;
}

img.alignright {
	float:right;
	margin-left:15px;
}

img.aligncenter {
	display: block;
	margin:15px auto;
}

/* Responsive image and video (For responsive YouTube - wrap embed code in div.video-container) */
img {
	max-width:100%;
	height:auto;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe,.video-container object,.video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


/* Tags and paging styling */
.tag-links a {
	display:inline;
	padding:.2em .6em .3em;
	font-size:75%;
	font-weight:700;
	line-height:1;
	color:#fff;
	text-align:center;
	white-space:nowrap;
	vertical-align:baseline;
	border-radius:.25em;
	background-color:#999;
}

.tag-links a:hover {
	background-color:#666;
	text-decoration:none;
}



.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}








/*==================================================
	Media Queries
==================================================*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.page-numbers.current {
		background:#e7e7e7;
	}
 
}

/* Wordpress Adminbar Breakpoint */
@media only screen and (min-width : 783px) {
	.admin-bar nav {
		top:32px;
	}
	
	#wpadminbar {
		display:block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}







