/*==================================================
	Sidebar CSS
==================================================*/

#sidebar ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
}


#sidebar {
	margin:30px 0;
}

.widget {
	margin-bottom:30px;
}


/* Calendar widget styling */
#wp-calendar {
	width:100%;
	font-size:11px;
}

#wp-calendar thead th {
	background:#f5f5f5;
	border:1px solid #ddd;
	border-top:none;
	font-size:11px;
}

#wp-calendar tbody td {
	text-align:center;
	border:1px solid #ddd;
	line-height:2.5em;
	transition:background .15s ease;
	-webkit-transition:background .15s ease;
	-o-transition:background .15s ease;
	-moz-transition:background .15s ease;
}

#wp-calendar tbody td:hover {
	background:#f1f1f1;
	color:#333;
}

#wp-calendar tbody td a {
	display:block;
	text-decoration:none;
	background:#f1f1f1;
	color:#333;
}

#wp-calendar tbody td:hover a {
	background:#4d4d4d;
	color:#fff;
}

#wp-calendar tfoot {
	background:#eee;
	border:1px solid #ddd;
}

#wp-calendar tfoot td {
	padding-top:1px;
	padding:4px;
}

#wp-calendar caption {
	cursor:pointer;
	font-size:13px;
	text-transform:uppercase;
	margin:0;
	padding:12px;
	outline:0 none!important;
	background:#3078ac;
	color:#fff;
}

#wp-calendar tbody a {
	display:block;
	text-decoration:underline;
}

#wp-calendar th {
	text-align:center;
	border:1px solid transparent;
	border-top:none;
	padding:7px 0;
	color:#a7a7a7;
}

#footer #wp-calendar thead th {
	background:#222;
}

#footer #wp-calendar tbody td {
	border-color:#222;
}




#searchform .btn-primary, .btn-default {
	background: $link;
	border-color: $hover;
	color: #fff;
}
#searchform .btn-primary:hover, .btn-default:hover {
	background: $hover;
	color: #fff;
}

.form-control:focus {
	border-color: $link;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}











/*==================================================
	Media Queries
==================================================*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
