/*==================================================
	Slideshow CSS
==================================================*/

.superslide {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}




.superslide:after {
	content: "";
	position: relative;
	padding-bottom: 40%;
	display: block;
}


.superslide>.wrapper {
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	display: none;
}












/*==================================================
	Media Queries
==================================================*/



/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.superslide>.wrapper {
		display: block;
	}
 
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
